/* Comon Css Start's */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.aling_center{
    align-items: center;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
:root{
    --mainFont:'Ubuntu', sans-serif;
    --secondFont: 'Abril Fatface', cursive;
    --thirdFont:'Open Sans', sans-serif;

    --maincolor:#0f2f44;
    --secondColor:#ffc712;
}
/* Comon Css End's */


/* Header Start's */
#header{
    background-color: var(--maincolor);
    color: rgb(134, 126, 126);
    padding: 18px 0;
}
#header .left_text{
    width: 50%;
}
#header .right_text{
    width: 50%;
    text-align: right;
}
/* Header End's */

/* Nav Start's */

nav .logo{
    width: 30%;
    padding: 30px;
}
nav .menu{
    width: 70%;
    text-align: right;
    text-transform: capitalize;
}
nav .menu a{
    color: black;
    font-family: var(--maincolor);
    font-weight: 500;
    padding: 40px 20px;
    transition: 0.3s;
}
nav a:hover {
    color: var(--secondColor);
    background-color: rgba(255, 199, 18,0.10);
}

/* Nav End's */

/* Banner Start's */
#banner{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    padding: 0 0 140px 0;
}
#banner .text,
#banner .blank{
    width: 50%;
}

.text h2{
    font-family: var(--mainFont);
    font-weight: 300;
    font-size: 50px;
}
.text h3{
    font-family: var(--secondFont);
    font-size: 80px;
    font-weight: 400;
}
.text h4{
    font-family: var(--mainFont);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 10px;
    color: #8484bf;
}
.text p{
    font-family: var(--thirdFont);
    font-size: 14px;
    padding-right: 100px;
    line-height: 20px;
    color: #444444;
    margin: 20px 0;
}
.text .btn{
    background-color: #8383bf;
    font-family: var(--mainFont);
    font-weight: 500;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    text-transform: capitalize;
    color: white;
    transform: scale(1);
    transition: 0.3s;
}
.text .btn:hover{
    background-color: #ffc712;
    transform: scale(0.85);
}
.text .icon{
    margin-left: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    color: #8383bf;
    transform: scale(1);
    transition: 0.3s;
}
.text .icon:hover{
    background-color: #ffc712;
    transform: scale(0.85);
}
/* Banner End's */